* {
  padding: 0;
  margin: 0;
}

.black {
  background-color: rgb(18, 13, 20);
}

.obras__coleccion {

  transition: all 4s;}


.obras__coleccion:hover {
  
  transform:scale(2,2);
}

.container img {inline-size: 100%;}


aside {
  display: none;
}

ul li {
  padding: 8px;
}

.bienvenidos {
  padding: 0.5em;
}



.nav-link {
  font-size: 1.25em;
}



p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 5px;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 18px;

}



aside {
  grid-area: aside;
  padding: 5em;
  border: solid black 3px;
}


footer {
  color: rgb(18, 13, 20);
  padding: 2px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 40px;
  background-color: rgb(18, 13, 20);
  color: white;
}


.footer {
  background-color:rgb(18, 13, 20);
  position: relative;
}



.subtexto {
  color: white;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.direccion {
  padding: 4px;
  font-weight: bold;
  text-align: center;
}


.bienvenidos {
  text-align: left;
  font-size: 13px;

}




iframe {
  padding: 1em;
}

ul {
  list-style: none;
}

a {
  color: black;
}



form {
  padding: 1.5em;
}


.list {
  display: none;
}




.fechas__eventos {
  padding: 0.5em;
}